*{
  margin: 0;
  padding: 0%;
}

.App {
  display: flex;
  justify-content: center;
  text-align: center;
  top: 0px;
  left: 0px;
  max-height: 926px;
  width: 428px;
  margin-left: 35%;
  margin-top: 25px;
  margin-bottom: 25px;
  /* border: 1px solid red; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.App-logo {
  height: 35vmin;
  pointer-events: none;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  max-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(17, 15, 15);
  padding-bottom: 10px;
}

.App-header p{
  line-height: 1.5rem;
  font-size: 18px;
  text-align: center;
  font-weight: 400;
  font-family: Roboto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.form{
  display: flex;
  /* height: 400px; */
  width: 400px;
  justify-content: space-around;
  margin-top: 20px;
  padding-top:8px;
}
.form .toggle-button{
  display: inline-block;
}
.form .toggle{
  border: none;
  background-color: transparent;
  font-size: 26px;
  font-weight: 500;
  cursor: pointer;

}
.toggle:hover{
  border-bottom: 3px solid #E70B89;
}
.toggle:active{
  border-bottom: 2px solid #E70B89;
  
}

#forgot{
  color: #E70B89;
  font-size: 14px;
  margin-left: 100px;
  margin-top: -8px;
}
.login-with{
  font-size: 13px;
  margin-top: 10px;
  color: #9d9d9d;
}